* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  min-height: 300px;
  padding: 30px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 24px 0;
}

.list__item {
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
/*  task2 */
.modal__window {
  display: none;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  width: 400px;
  height: 150px;
  background-color: green;
  border-radius: 8px;
  color: white;
}
.btn__close {
  border-radius: 5px;
  font-size: 23px;
  border: none;
  padding: 10px 30px;
  background-color: red;
  color: white;
}

.btn__open {
  margin: 0 auto;
  text-align: center;
  display: block;
  border-radius: 5px;
  font-size: 23px;
  border: none;
  padding: 10px 30px;
  background-color: green;
  color: white;
}

/*  task3 */
.traffic-lights {
  margin: 0 auto;
  width: 140px;
  height: 270px;
  padding: 10px 0;
  padding-bottom: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 5px;
}
.traffic-light {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid white;
  background-color:white;
}

.color__red {
  background-color: red;
}

.color__yellow {
  background-color: yellow;
}

.color__green {
  background-color: green;
}
