@import "loader";

* {
  box-sizing: border-box;
}

.container {
  max-width: 1120px;
  margin: 0 auto; 
}

h2 {
  text-transform: uppercase;
}

.hero {
  background-color:#e2e7ec;
  min-height: 1400px;
  display: flex;
  align-items: center;


  &__holder{
    padding: 20px;
  }
  &__title {
    font-size: 22px;
    padding-bottom: 70px;  
  }

  &__loanding {
    color: #99a5b0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__photo {
    width: 54px;
    height: 54px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 75px;
}

.grid__item {
  background-color: white;
  animation-name: zoom;
  animation-duration: 2s;
}

@keyframes zoom {
 from {
   transform: scale(0.5);
 }
 to {
   transform: scale(1);
 }
}

.grid__item.is--huge {
  background-image: url('..//img/car.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
  grid-column-start: span 2;
  max-width: 740px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

