@import './variables';
@import './reset';

main {
  display: flex;
  min-height: calc(100vh - 100px);
  background-color: rgb(231, 255, 184);
}

// .container {
//   max-width: 1200px;
//   width: 100%;
//   padding: 0 15px;
//   margin: 0 auto;
// }

ul, li {
  margin:0;
  padding: 0;
  list-style-type: none;
}