.accordion  {
  display: flex;
  align-items: center;
  background-color: $orange-bg;
  min-height: 100vh;
  padding: 35px 0;

  &__item {

    &_location {
      background-color: $dark-red;
      color: $light-beige;
    }

    &_music {
      background-color: $pale-red;
      color: $yellow-beige;
    }

    &_noteds {
      background-color: $yellow-beige;
      color: $dark-red-text;
    }

    &_books {
      background-color: $beige;
      color: $dark-red-text;
    }

    &_tendances {
      background-color: $orange;
      color: $beige;
    }
  }

  &__holder {
    display: flex;
    align-items: center;
    padding: 30px 20px;
  }

  &__item-title {
    padding-left: 56px;
    font-size: 24px;
  }

  &__item-content {
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.24);  //
    padding: 20px 10px;
    font-size: 17px;
    line-height: 1.6em;
    text-align: justify;
  }
}